page{
	page-top:16upx;
}
.s-list{
	padding: 0 32upx 48upx;
	background: #fff;
	margin-bottom:16upx;
	.title{
		padding:32upx 0;
		.title-left{
			font-size: 32upx;
			color:#333;
			font-weight: bold;
			flex:1;
			line-height: 1.3;
		}
		.state{
			color:#999; 
			margin-left:20upx;
			&.wait{
				color:#EA6572;
			}
		}
	}
	.tag{
		padding: 24upx 0;
		color:#999;
		font-size: 26upx;
		text{
			margin-right: 80upx;
		}
	}
	.content{
		line-height: 40upx;
		color:#666;
		word-break:break-all
	}
	.img-wrapper{
		flex-wrap: wrap;
		image{
			width:216upx;
			height: 172upx;
			margin-left:18upx;
			&:nth-child(3n-2){
				margin-left:0;
			}
			margin-top:20upx;
		}
	}
	.handel-area{
		padding-top:48upx;
		color:#666;
		.flex-start{
			margin-left:60upx;
		}
		image{
			width:36upx;
			height: 36upx;
			margin-right: 10upx;
		}
	}
 }
 .reply{
	 padding:32upx;
	 background: #F3F5F8;
	 margin-top:32upx;
	 .reply-title{
		 color:#666;
		 font-weight: bold;
		 margin-bottom:18upx;
	 }
	 .reply-content{ 
		 @include fontStyle(#999,40upx,26upx);
		 word-break:break-all
	 }
 }
 
 .nodata{
 	padding: 30upx ;
 	text-align: center;
 	color:#666;
 	font-size: 24upx; 
 }
 .no-init-data{
 	text-align: center;
 	padding-top:200upx;
 	color:#B7B7B7;  
 	image{
 		width:100%;
 		height: 232upx;
 	}
 	view{
 		font-size: 32upx; 
 	}
 }