.state{
	height: 100vh;
	padding-top:108upx;
	background: #fff;
	text-align: center;
	image{
		width: 88upx;
		height: 88upx;
	}
	.s-title{
		margin:24upx 0;
		color:$base-color;
		font-size: 36upx;
	}
	.s-tip{
		color:#999;
		font-size: 24upx;
	}
	button{ 
		background: #fff;
		width:260upx;  
		margin-top:60upx;
		@include fontStyle(#999,80upx,32upx);
		border-radius: 40upx; 
		border:1upx solid #999;
		&:after{
			border-radius: 0;
			border:none; 
		}
		&.button-hover{
			background: #fafafa;
		}
	}
}